<div class="appointments-container">
  <h2>My Appointments</h2>

  <table *ngIf="appointments.length > 0; else noAppointments">
    <thead>
      <tr>
        <th>Patient Name</th>
        <th>Patient Email</th>
        <th>Date</th>
        <th>Time</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let appointment of appointments">
        <td>{{ appointment.patientDetails?.name || "Unknown" }}</td>
        <td>{{ appointment.patientEmail }}</td>
        <td>{{ appointment.date }}</td>
        <td>{{ appointment.time }}</td>
        <td>{{ appointment.status }}</td>
        <td>
          <button
            *ngIf="
              appointment.status !== 'Finished' &&
              appointment.status !== 'Canceled'
            "
            (click)="markAsFinished(appointment._id)"
          >
            Completed
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <ng-template #noAppointments>
    <p>No appointments found.</p>
  </ng-template>

  <button class="back-button" (click)="goBack()">Back</button>
</div>
