<div class="dialog-container">
  <h2>{{ data.appointment ? "Edit Appointment" : "Add Appointment" }}</h2>
  <div class="dialog-content">
    <input
      type="text"
      [(ngModel)]="appointment.patientEmail"
      placeholder="Patient Email"
      required
    /><br />
    <input
      type="text"
      [(ngModel)]="appointment.date"
      placeholder="Date"
      required
    /><br />
    <input
      type="text"
      [(ngModel)]="appointment.time"
      placeholder="Time"
      required
    /><br />
  </div>
  <div class="dialog-actions">
    <button class="cancel-btn" (click)="onCancel()">Cancel</button>
    <button class="save-btn" (click)="onSave()">Save</button>
  </div>
</div>
