<div class="dialog-container">
  <h2>{{ data.doctor ? "Edit Doctor" : "Add Doctor" }}</h2>
  <div class="dialog-content">
    <input
      type="text"
      [(ngModel)]="doctor.name"
      placeholder="Name"
      required
    /><br />
    <input
      type="text"
      [(ngModel)]="doctor.specialty"
      placeholder="Specialty"
      required
    /><br />
    <input
      type="text"
      [(ngModel)]="doctor.availability"
      placeholder="Availability (optional)"
    /><br />
  </div>
  <div class="dialog-actions">
    <button class="cancel-btn" (click)="onCancel()">Cancel</button>
    <button class="save-btn" (click)="onSave()">Save</button>
  </div>
</div>
